.bar {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    color: blue;
    background: lightyellow;
}

.bar-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

}

h1 {
    text-align: center;
    color: red;
}

.first-para {
    padding: 0.5rem;
    background: lightgreen;
    
}
.second-para {
    padding: 0.5rem;
    margin: 0.5rem 0;
    background: pink;
}

.theerd-para {
    padding: 0.5rem;
    background: lightblue;
}